@page "/"
@using System.Web;
@inject IJSRuntime js
@inject HttpClient http

<PageTitle>Converter</PageTitle>

<h1>Converter</h1>

<svg
   width=@(data is null ? 0 : data.Size.Item1)
   height=@(data is null ? 0 : data.Size.Item2)>
@{
    if (data is not null) 
    {
        foreach(var line in data.Counties)
        {
             <path
             style="fill:@(line.Selected ? "#FF0000" : "none");stroke:#000000;stroke-miterlimit:10;stroke-width:2;"
             d=@line.Path />
        }
    }
}
</svg>

<InputFile OnChange="@SetNewSVG" />

<select @onchange="SetNewSVG">
    @foreach (var cnt in maps)
    {
        <option value="@cnt">@cnt</option>
    }
</select>

<p style="font-size:40px;color:@(data is null ? "white" : "black");" disabled=@(data is null)>@(name is "" ? "No Name!" : name)</p>

<button class="btn btn-primary" @onclick="PreviousObject" disabled=@(data is null)>Previous Object</button>

<button class="btn btn-primary" @onclick="NextObject" disabled=@(data is null)>Next Object</button>

<input placeholder="Name Of Object" @bind="name" disabled=@(data is null) />

<button class="btn btn-primary" @onclick="DeleteObject" disabled=@(data is null)>Delete Object</button>

<button class="btn btn-primary" @onclick="SaveMap" disabled=@(data is null)>Save Map</button>

@code {
    private string name = "";
    private string district = "";
    private Map data;
    private int i = 0;
    private List<string> maps = new() { "SpookVooper", "Ardenti Terra", "Avalon", "Elysian Katonia", "Kogi", "Lanatia", "Landing Cove", "Los Vooperis", "New Avalon", "New Spudland", "New Vooepris", "Novastella", "Old King", "San Vooperisco", "Thesonica", "Voopmont"};

    private async Task SetNewSVG(ChangeEventArgs e)
    {
        name = "";
        i = 0;
        district = e.Value.ToString().Replace(" ", "%20");

        //string svg = await http.GetStringAsync("https://raw.githubusercontent.com/Coca162/SvMedia/main/Objects/" + district);
        string svg = await http.GetStringAsync("https://raw.githubusercontent.com/Coca162/SvMedia/main/Districts/" + district + "/counties.svg");

        data = Map.ProcessSVG(svg);
        Console.WriteLine("It is definitely: " + district);
    }

    private async Task SetNewSVG(InputFileChangeEventArgs e)
    {
        name = "";
        i = 0;

        var buffer = new byte[e.File.Size];
        await e.File.OpenReadStream().ReadAsync(buffer);
        string file = System.Text.Encoding.UTF8.GetString(buffer);

        Console.WriteLine(e.File.Name.Split('.').Last());

        if (e.File.Name.Split('.').Last() == "svg")
            data = Map.ProcessSVG(file);
        else if (e.File.Name.Split('.').Last() == "csv")
            data = Map.ProcessCSV(file);
        else
        {
            await js.InvokeVoidAsync("alert", "This file type is not supported!");
            return;
        }
        RefreshCounty();
    }

    private void PreviousObject()
    {
        SaveCounty();
        if (i == 0) i = data.Counties.Count - 1;
        else i--;
        RefreshCounty();
    }

    private void NextObject()
    {
        SaveCounty();
        if (i == data.Counties.Count - 1) i = 0;
        else i++;
        RefreshCounty();
    }

    private async Task DeleteObject()
    {
        bool confirmed = await js.InvokeAsync<bool>("confirm", "Are you sure you want to delete this object?");
        if (!confirmed) return;

        data.Counties.RemoveAt(i);
        i = 0;

        RefreshCounty();
    }

    private void SaveCounty()
    {
        var current = data.Counties[i];
        current.Selected = false;
        current.Name = name;
    }

    private void RefreshCounty()
    {
        var next = data.Counties[i];
        next.Selected = true;
        name = next.Name;
    }

    public async Task SaveMap()
    {
        var text = Map.ToCSV(data);
        var bytes = System.Text.Encoding.UTF8.GetBytes(text);
        await SaveAs("output.csv", bytes);
    }

    public async Task SaveAs(string filename, byte[] data)
    {
        await js.InvokeVoidAsync(
            "saveAsFile",
            filename,
            System.Convert.ToBase64String(data));
    }
}